/* General Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.contactnav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    background-color: #1f1f2e;
    padding: 0.5rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contactnav a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s;
}

.contactnav a:hover {
    color: #f7b731;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ec2027;
    /* opacity: .5; */
}

.navbar .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
}

.navbar .logo img{
    height: 50px;
    width: 90px;
}

.navbar ul {
    align-items: baseline;
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.navbar ul li a:focus,
.navbar ul li a:hover {
  color: #fff;
}

.navbar ul li a:focus:after,
.navbar ul li a:hover:after {
  width: 100%;
  left: 0%;
}

.navbar ul li a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.navbar ul li button {
 padding: 0.8em 1.8em;
 border: 2px solid #ffffff;
 position: relative;
 overflow: hidden;
 background-color: transparent;
 text-align: center;
 font-size: 16px;
 transition: .3s;
 z-index: 1;
 font-family: inherit;
 color: #ffffff;
}

.navbar ul li button::before {
 content: '';
 width: 0;
 height: 300%;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%) rotate(45deg);
 background: #ffffff;
 transition: .5s ease;
 display: block;
 z-index: -1;
}

.navbar ul li button:hover::before {
 width: 105%;
}

.navbar ul li button:hover {
 color: #111;
}


.navbar ul li a.active:hover {
    color: #fff;
    background-color: black;
}




.navbar .menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
}

.hero {
    text-align: center;
    padding: 3rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-image: url('2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero .info {
    padding: 3rem 2rem;
    border: #fff solid 2px;
    flex: 1;
    text-align: left;
    border-radius: 5px;
    backdrop-filter: brightness(0.7);
}

.hero h1 {
    font-size: 1.5rem;
}

.hero p {
    font-size: 1.2rem;
}

.hero .form {
    background: transparent;
    border-radius: 5px;
    width: 110%;
    max-width: 660px;
    height: 114vh;
}

.support {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem 1rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.support .info {
    /* flex: 1; */
    /* max-width: 300px; */
    display: flex;
}

.support .info .info-img {
    float: left;
    width: 85px;
    height: 85px;
    margin: 5px 10px;
    padding: 0;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #f4f6fc;
}

.support .info img {
    width: 100%;
    max-width: 80px;
    height: auto;
    margin-bottom: 1rem;
}

.support .info .info-con {
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: center;
    width: 16rem;
    margin-left: 1.5rem;
}

.service {
    padding-top: 30px;
}

.service h3 {
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.service-card {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding: 10px 0px;
}

.service-card .card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem;
    text-align: center;
    margin: 20px;
    scroll-snap-align: center;
}

.service-card .card img {
    width: 100%;
    text-align: center;
    border: 0;
    margin: 0px auto 0px auto;
    padding: 0;
    display: inline-block;
}

.service-card .card .card-con {
    display: flex;
    color: #000;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.service-card .card .card-con p {
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
    text-align: justify;
    gap: 1rem;
}

.service-card .card .card-con h4 {
    font-size: 1.2rem;
    margin-top: 5px;
    text-align: start;
}

.service-card .card .fea {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.service-card .card .fea div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.service-card .card .fea div img {
    width: 30px;
    height: 30px;
}

.service-card .card .fea .cab a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 500;
}


.city {
    color: #fff;
    background-image: url('2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 25px;
    padding: 3rem 1rem;
    text-align: center;
}

.city .cities {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    backdrop-filter: brightness(0.6);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}



.city .cities a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.city .cities a:hover {
    text-decoration: underline;
    color: #fff;
}

.rentals-class {
    color: #000;
    display: flex;
    font-size: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0;
    text-align: center;
}


.rentals {
    max-width: 100%;
    display: flex;
    overflow-x: auto;
    justify-content: flex-start;
    align-items: center;
    /* flex-direction: column; */
    /* margin: 50px auto; */
    background: #ffffff;
    border-radius: 8px;
    gap: 1rem;
    padding: 0 1rem;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}


.rentals .places {
    flex: 0 0 auto;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 20px 17px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.rentals .places img {
    width: 200px;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.rentals .places img:hover {
    transform: scale(1.1);
}

.rentals .places h2 {
    font-size: 1.5rem;
    color: #000;
    text-align: center;
}

.cars {
    padding: 2rem 1rem;
}

.cars .cars-main {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    color: #000;
    margin-bottom: 2rem;
}

.swiper-container {
    width: 100%;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    width: 100%;
    flex-shrink: 0;
    padding: 20px;
    box-sizing: border-box;
}

.car-item {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
    text-align: center;
}

.car-item .cars-img {
    margin-bottom: 15px;
    background: #f9f9f9;
    border-radius: 15px;
    padding: 20px;
}

.car-item .cars-img img {
    width: 100%;
    height: auto;
    max-width: 15rem;
}

.car-item .cars-content h4 {
    font-size: 20px;
    color: #000;
    margin-bottom: 10px;
}

.car-item .cars-content button {
    padding: 0.8em 1.8em;
    border: 2px solid #f91010;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    transition: .3s;
    color: #f91010;
    cursor: pointer;
    border-radius: 5px;
}

.car-item .cars-content button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #f91010;
    transition: .5s ease;
    z-index: -1;
}

.car-item .cars-content button:hover::before {
    width: 105%;
}

.car-item .cars-content button:hover {
    color: #ffffff;
}

.swiper-pagination {
    text-align: center;
    margin-top: 100px;
}

.swiper-pagination-bullet {
    background: #f91010;
}

/* Responsive Styles */
@media (min-width: 1024px) {
    .swiper-slide {
        width: 50%; /* Show 2 cards on larger screens */
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .swiper-slide {
        width: 50%; /* Show 2 cards on tablets */
    }
}

@media (max-width: 767px) {
    .swiper-slide {
        width: 100%; /* Show 1 card on small screens */
    }
}

.faq {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* margin: 50px auto; */
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.faq h3 {
    font-size: x-large;
    text-align: left;
    margin-bottom: 20px;
    color: #333;
}

.faqs {
    margin-top: 20px;
}

.faqs .faq-item {
    border-radius: 10px;
    width: 57vw;
    margin-bottom: 15px;
}

.faq-item h4 {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    background: #ffe8e8;
    color: #333;
    box-shadow: 0px 4px 8px #f2eaea;
    transition: background-color 0.3s;
}

.faq-item h4:hover {
    background-color: #ffa4a4;
}

.faq-item h4 span {
    float: right;
    margin-right: 10px;
    font-size: 18px;
    color: #555;
}

.faq-item p {
    margin: 0;
    padding: 10px;
    font-size: 16px;
    color: #555;
    display: none; /* Hidden by default */
}

.faq-main {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}



.faq-main img {
    height: 420px;
    width: 320px;
    border-radius: 30px;
}

.footer {
    background-color: #1f1f2e;
    color: #fff;
    text-align: center;
    padding: 3rem 1rem;
    margin-top: 2rem;
    display: flex;
}

.footer .footer_box {
    float: left;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 1rem;
}

.footer .footer_box .contact {
    display: flex;
    gap: 1rem;
}

.footer .footer_box .contact a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s;
}

.footer .footer_box .contact a img {
    margin-right: 0.5rem;
    height: 20px;
    width: 20px;
}

.footer .footer_box .contact a:hover {
    color: #1f1f2e;
}

.footer .footer_box_1 {
    float: left;
    flex: 1;
    text-align: left;
    margin-right: auto;
}

.footer .footer_box_1 p {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    text-align: justify;
    margin-right: 20px;
}

.footer .footer_box_1 h5 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.footer .footer_box h5 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.footer .footer_box ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer .footer_box ul li {
    margin-bottom: 0.5rem;
}

.footer .footer_box ul li a {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}

.footer .footer_box ul li a:hover {
    text-decoration: underline;
}

.footer .footer_box_1 p {
    margin-bottom: 0.5rem;
} 

footer {
    background-color: #0f0f16;
    color: #fff;
    text-align: center;
    padding: 1rem 1rem;
}

footer p {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    text-align: center;
}

@media screen and (max-width: 1280px) {
    body {
        font-size: 0.9rem;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 10;
    }
    
    
}

@media screen and (max-width: 768px) {

    .hero {
        margin-top: 10vh;
    }

    .navbar .menu-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
    
    .navbar.responsive ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #9a1419;
        color: #ddd;
        padding: 26px;
    }

    .hero {
        flex-direction: column;
    }

    .hero .form {
        height: 60vh;
    }

    .faq .faq-main {
        flex-direction: column;
        width: 50vw;
    }

    .faq-main h4 {
        width: 80vw;
    } 

    .faq-main p {
        width: 80vw;
    }

    .faq-main img {
        height: 50vh;
        width: 42vh;
        margin-left: 8rem;
    }

    .rentals {
        width: 80%;
    }

    .support {
        flex-direction: column;
    }

    .support .info .info-con  {
        width: 100%;
    }

    .service-card::-webkit-scrollbar {
        display: none;
    }
    
    .dots {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        gap: 10px;
    }
    
    .dot {
        width: 10px;
        height: 10px;
        background-color: #ccc;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .dot.active {
        background-color: #000;
    }

    .service h3 {
        font-size: 1.5rem;
        color: rgb(0, 0, 0);
        text-align: center;
    }
    
    .service-card {
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        padding: 10px 0px;
    }
    
    .service-card .card {
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 1rem 2rem;
        text-align: center;
        margin: 20px;
        height: fit-content;
        scroll-snap-align: center;
    }
    
    .service-card .card img {
        width: 100%;
        text-align: center;
        border: 0;
        margin: 0px auto 0px auto;
        padding: 0;
        display: inline-block;
    }
    
    .service-card .card .card-con {
        display: flex;
        color: #000;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
    
    .service-card .card .card-con p {
        font-size: 15px;
        line-height: 19px;
        font-weight: 400;
        text-align: justify;
        gap: 1rem;
    }
    
    .service-card .card .card-con h4 {
        font-size: 1.2rem;
        margin-top: 5px;
        text-align: start;
    }
    
    .service-card .card .fea {
        margin-top: 25px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 1rem;
    }
    
    .service-card .card .fea .cab {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    
    .service-card .card .fea .cab img {
        width: 40px;
        height: 40px;
    }
    
    .service-card .card .fea .cab a {
        text-decoration: none;
        color: #000;
        font-size: 15px;
        padding: 0 7px;
        width: 75px;
    }

    /* .cars .cars-list {
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
    }

    .cars .cars-list .car-item {
        margin: 0 0 25px 45px;
        width: 15%;
        height: 20rem;
    } */

    .footer {
        flex-direction: column;
        gap: 1rem;
    }

}